version: "3.8" # 도커 compose 버전
services: # 실행할 서비스 목록 ㅡ> mysql
  mysql:
    image: mysql:8.0 # 도커허브에서 mysql8.0 이미지를 가져와서 컨테이너를 만듬. 도커는 프로그램을 이미지 단위로 실행. 이미지 = os+프로그램+설정
    container_name: wig-mysql # 컨테이너 이름. docker ps할때 식별용
    environment:
      MYSQL_ROOT_PASSWORD: root # 개발환경이 아닌 배포환경에서는 패스워드 바꿔야된다
      MYSQL_DATABASE: wigdb # 최초 자동 생성할 db이름
      TZ: Asia/Seoul # db시간을 스프링 서버 시간과 일치시키기 위함
    ports: ["3306:3306"]
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci #  한글/이모지등 4바이트문자 지원, 쿼리에서 대소문자 구분 없는 비교 설정
    volumes: ["mysql_data:/var/lib/mysql"] # 볼륨=데이터저장소, 로컬에 볼륨을 만들어서 컨테이너가 삭제되도 DB가 날아가지 않게 함
    restart: unless-stopped # 컨테이너가 비정상 종료되면 재시작, unless-stopped : 개발자가 stop한 경우에만 종료
    healthcheck: # 도커가  컨테이너 살아있는지 정기적으로 검사, docker ps하면 status에 healty/unhealthy 뜸
      test: [ "CMD","mysqladmin","ping","-h","127.0.0.1","-uroot","-proot" ] # 헬스체크 명령 내용
      interval: 10s # 체크간격
      timeout: 5s # 명령이 이 시간안에 안끝나면 실패로 간주
      retries: 5 # 연속 실패 허용 횟수
volumes: { mysql_data: {}} # 위에서 정의한 mysql_data를 실제로 생성, 위에 정의한 경로에 저장됨

# 도커 컨테이너 = 앱을 띄우는 실행환경, os커널 공유하는 격리된 실행환경. 앱 실행 환경을 일치시키기 위함.
# db의 도커 컨테이너에 mysql, 백엔드의 도커 컨테이너에 스프링부트가 올라간다
# 이미지 = 컨테이너 설계도, 컨테이너 = 이미지의 인스턴스